.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.table-container {
	display: flex;
	justify-content: center;
	height: 240px;
	/* responsive */
	max-width: 700px;
	min-width: 320px;
	margin-top: 8px;
	overflow: auto;
	border: 1px solid black;
}

.table-container table {
	border-collapse: collapse;
}

.table-container th,
.table-container td {
	padding: 10px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
}
